{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Simc</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'simc:select-spec' %}">Talents</a>
                </div>
                <!--<div id="navbar" class="collapse navbar-collapse">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a href="{% url 'simc:talents' 3 0 %}">Beast Mastery</a></li>-->
                        <!--<li><a href="{% url 'simc:talents' 6 2 %}">Unholy</a></li>-->
                        <!--<li><a href="{% url 'simc:talents' 8 1 %}">Fire</a></li>-->
                        <!--<li><a href="{% url 'simc:talents' 11 1 %}">Feral</a></li>-->
                        <!--<li><a href="{% url 'simc:talents' 12 0 %}">Havoc</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
    </div>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'simc/bootstrap/darkly.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'simc/style.css' %}" />
    {% block css %}{% endblock css %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block js %}{% endblock js %}

    </body>
</html>

