{% extends "simc/base.html" %}
{% block content %}
<h4>
    Choose your specialization
</h4>

{% for class in classes %}
    <div class="col-md-4">
        <h4>
            <img src="http://wow.zamimg.com/images/wow/icons/medium/{{ class.icon }}.jpg">
            {{ class.class_info.name }}
        </h4>
        {% for spec in class.specs %}
            <div style="margin-bottom:5px;">
                <a href="{% url 'simc:talents' class.class_info.id spec.order %}">{{ spec.name }}</a>
            </div>
        {% endfor %}
        <br>
    </div>
{% endfor %}

{% endblock %}
