{% load simc_extras %}
{% with id=widget.attrs.id %}
<tr>
    {% for group, options, index, talent in widget.optgroups %}
        {% for option in options %}
            <td class="col-xs-4">
                <label for="{{ option.attrs.id }}"
                       class="btn-talent{% if 'checked' in option.attrs %} checked{% endif %}"
                       data-tooltip-href="//www.wowdb.com/spells/{{ talent.id }}">
                    {% include "django/forms/widgets/checkbox.html" with widget=option %}
                    <img src="//wow.zamimg.com/images/wow/icons/large/{{ talent.icon|icon }}.jpg" alt="">
                    <span>{{ talent.name }}</span>
                </label>
            </td>
        {% endfor %}
    {% endfor %}
</tr>
{% endwith %}