body {
    padding-top: 60px;
}

label.checked {
    background-color: #009871;
}

.mb-5 {
    margin-bottom: .25em;
}

.btn-talent {
    width:100%;
    margin:0;
    font-weight:normal;
}

label {
    font-weight:normal;
}